<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" 
                ui-sref="app.main"><i class="icon-speedometer"></i> Backoffice </a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                Menu
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" 
                ui-sref="app.notas"> Emissão de Notas</a>
            </li>
           
             <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" 
                ui-sref="app.mercadorias"> Cadastro de Mercadorias</a>
            </li>
           
            
                   
            <li class="divider"></li>
            
            

        </ul>
    </nav>
</div>
